/*--
Contact
----------------------------------------------*/
.contact {
    @extend %clearfix;

    h2 {
        -webkit-font-smoothing: antialiased;
        font-family: 'Helvetica Neue', 'Gotham SSm A', 'Gotham SSm B', Arial, sans-serif;
        //font-weight: 500;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.67;
        letter-spacing: 2px;
        text-align: center;

        &:after {
            content: '';
            display: block;
            width: 64px;
            height: 4px;
            background-color: #efefef;
            margin: 35px auto;
        }
    }

}


#contact {
    h2 {
        -webkit-font-smoothing: antialiased;
        font-family: 'Helvetica Neue', 'Gotham SSm A', 'Gotham SSm B', Arial, sans-serif;
        //font-weight: 500;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.67;
        letter-spacing: 2px;
        text-align: center;

        &:after {
            content: '';
            display: block;
            width: 64px;
            height: 4px;
            background-color: #efefef;
            margin: 35px auto;
        }
    }
}

.contacts_item {
    text-align: center;
    margin-bottom: 32px;

    &:first-of-type {

        .contacts_icon {
            width: 24px;
            height: 24px;

        }
    }

    &:nth-child(2) {
        .contacts_icon {
            width: 24px;
            height: 24px;
        }
    }
    &:nth-child(3) {

        .contacts_icon {
            width: 24px;
            height: 24px;
        }
    }

    @include breakpoint(tablet-portrait) {
        &:first-of-type {
            .iconContain {
                padding-bottom: 8px;
            }

            .contacts_icon {
                width: 34px;
                height: 34px;

            }
        }

        &:nth-child(2) {
            .contacts_icon {
                width: 34px;
                height: 34px;
            }
        }
        &:nth-child(3) {
            .iconContain {
                padding-bottom: 15px;
            }

            .contacts_icon {
                width: 34px;
                height: 34px;
            }
        }
    }

    a {
        color: $color-gray-text;
        text-decoration: none;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        a {
            //color: $color-blue;
        }
    }

    @include breakpoint(tablet-portrait) {
        margin: 0;
        float: left;
        width: 33.3333%;
    }
}

.iconContain {
    max-width: 50px;
    margin: 0 auto;
}

.contacts_icon {
    display: inline-block;
    margin-bottom: 4px;
}

.contacts_item_text {
    font-family: 'Helvetica Neue', 'Gotham SSm A', 'Gotham SSm B', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;

    @include breakpoint(tablet-landscape) {
        font-size: 16px;
        line-height: 20px;
    }

    p {
        margin: 0;
        text-decoration: none;
    }

    a {
        color: $color-gray-text;
        text-decoration: none;

        &:hover {
        }
    }
}
