html{ font-family: sans-serif; }
article, header, nav{ display: block; }
 video{ display: inline-block; vertical-align: baseline; }
a{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-position: 0px 0px; background-repeat: initial initial; }
img{ border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; }
svg:not(:root){ overflow-x: hidden; overflow-y: hidden; }
 .contact::after, .contact::before, .featured_awards::after, .featured_awards::before, .featured_work::after, .featured_work::before, .partners::after, .partners::before, .partners_item::after, .partners_item::before{ content: ' '; display: table; }
 .contact::after, .featured_awards::after, .featured_work::after, .partners::after, .partners_item::after{ clear: both; }
*{ box-sizing: border-box; }
body, html{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; position: relative; }
body{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(228, 228, 228); overflow-y: scroll; background-position: initial initial; background-repeat: initial initial; }
 h2, h3, p, ul{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
body{ color: rgb(74, 74, 74); font-family: Georgia, Times, serif; -webkit-font-smoothing: antialiased; font-size: 16px; line-height: 1.56em; }
@media (min-width: 961px){
body{ font-size: 18px; }
}
a{ color: rgb(1, 18, 255); }
 h2, h3{ font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Arial, sans-serif; font-weight: 500; font-style: normal; }
 h2, h3{ text-transform: uppercase; }
h2{ font-size: 18px; letter-spacing: 2.63px; line-height: 1.22em; margin-bottom: 0.61em; }
h3{ font-size: 16px; letter-spacing: 2px; line-height: 1.22em; }
 p, ul{ margin-bottom: 1.56em; }
p.loud{ font-size: 25px; line-height: 1.2em; margin-bottom: 20px; }
@media (min-width: 601px){
p.loud{ font-size: 28px; line-height: 1.3; }
}
@media (min-width: 961px){
p.loud{ font-size: 32px; }
}
.icon_social{ display: block; height: 30px; width: 30px; }
.media_wrap{ position: relative; }
img{ display: block; width: 100%; }
@media (min-width: 601px){
img{ width: auto; max-width: 100%; }
}
.page{ position: relative; height: 100%; overflow-x: hidden; overflow-y: hidden; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); z-index: 4; background-position: initial initial; background-repeat: initial initial; }
.page_module{ z-index: 5; }
.logo{ display: block; margin-top: 12px; max-width: 250px; float: left; position: relative; z-index: 4; -webkit-transition-property: opacity; -webkit-transition-duration: 0.25s; -webkit-transition-timing-function: linear; -webkit-transition-delay: initial; }
.logo > *{ width: 100%; }
@media (min-width: 769px){
.logo{ margin-top: 38px; }
}
@media (min-width: 961px){
.logo{ max-width: 100%; }
}
.page_module{ margin-bottom: 48px; position: relative; }
@media (min-width: 769px){
.page_module{ margin-bottom: 56px; }
}
.about_text{ max-width: 640px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; }
.about_text p.loud{ margin-top: 30px; margin-right: 0px; margin-bottom: 60px; margin-left: 0px; text-align: center; }
.media_wrap--award{ float: left; padding-top: 0px; padding-right: 8px; padding-bottom: 0px; padding-left: 8px; margin-bottom: 16px; width: 50%; }
.media_wrap--award img{ margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; }
@media (min-width: 769px){
.media_wrap--award{ display: inline-block; float: none; padding-top: 0px; padding-right: 8px; padding-bottom: 0px; padding-left: 8px; margin-bottom: 16px; width: auto; }
}
.contacts_item{ text-align: center; margin-bottom: 32px; }
.contacts_item:last-child{ margin-bottom: 0px; }
@media (min-width: 601px){
.contacts_item{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; float: left; width: 33.3333%; }
}
.contacts_icon{ display: inline-block; max-width: 56px; margin-bottom: 4px; }
@media (min-width: 601px){
.contacts_icon{ max-width: 100px; margin-bottom: 8px; }
}
.contacts_item_text{ font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Arial, sans-serif; font-weight: 400; font-style: normal; font-size: 14px; line-height: 20px; }
.contacts_item_text p{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
.contacts_item_text a{ color: rgb(74, 74, 74); text-decoration: none; }
.cta_text{ color: rgb(255, 255, 255); text-align: center; font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Arial, sans-serif; font-weight: 400; font-style: normal; letter-spacing: -0.02em; }
.cta_text a{ color: rgb(255, 255, 255); text-decoration: none; }
.cta_text p{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
@media (min-width: 601px){
.cta_text{ font-size: 24px; line-height: 44px; }
}
@media (min-width: 961px){
.cta_text{ font-size: 32px; line-height: 56px; }
}
.featured_awards{ text-align: center; }
.featured_work_item{ position: relative; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(255, 255, 255); border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); max-width: 420px; margin-right: auto; margin-left: auto; margin-bottom: 16px; overflow-x: hidden; overflow-y: hidden; }
.featured_work_item::after{ padding-top: 100%; display: block; content: ''; }
.featured_work_item > .featured_work_inner{ position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; }
.featured_work_item img{ display: block; height: 100%; width: 100%; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
.featured_work_item.featured_work_item--no-project{ display: none; }
@media (min-width: 601px){
.featured_work_item{ width: 50%; float: left; margin-bottom: 0px; }
.featured_work_item.featured_work_item--no-project{ display: block; }
}
@media (min-width: 961px){
.featured_work_item{ width: 33.3333%; }
}
.featured_work_image{ display: block; position: absolute; top: 0px; left: 0px; }
.featured_work_title{ display: table; border-collapse: collapse; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; position: relative; height: 100%; width: 100%; }
.featured_work_title a{ display: table-cell; vertical-align: middle; text-align: center; height: 100px; padding-top: 32px; padding-right: 32px; padding-bottom: 32px; padding-left: 32px; color: rgb(255, 255, 255); text-decoration: none; background-color: rgba(0, 0, 0, 0.496094); -webkit-transition-property: opacity, initial, initial, box-shadow, initial, initial; -webkit-transition-duration: initial, 0.5s, initial, initial, 0.5s, initial; -webkit-transition-timing-function: initial, initial, cubic-bezier(0.19, 1, 0.22, 1), initial, initial, cubic-bezier(0.19, 1, 0.22, 1); -webkit-transition-delay: initial, initial, initial, initial, initial, initial; opacity: 0; box-shadow: rgba(0, 0, 0, 0.746094) 0px 0px 0px 0px inset; }
.featured_work_title a::after{ display: block; content: ''; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); height: 4px; margin-top: 32px; margin-right: auto; margin-bottom: 0px; margin-left: auto; width: 0px; -webkit-transition-property: width, initial, initial; -webkit-transition-duration: initial, 0.5s, initial; -webkit-transition-timing-function: initial, initial, cubic-bezier(0.19, 1, 0.22, 1); -webkit-transition-delay: initial, initial, initial; background-position: initial initial; background-repeat: initial initial; }
.partners{ max-width: 1044px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; }
.partners_item{ position: relative; overflow-x: hidden; overflow-y: hidden; margin-bottom: 32px; }
.partners_item h3{ margin-bottom: 20px; }
.partners_item:last-child{ margin-bottom: 0px; }
@media (min-width: 601px){
.partners_item{ margin-bottom: 64px; }
}
@media (min-width: 769px){
.partners_item{ margin-bottom: 0px; width: 50%; padding-top: 0px; padding-right: 35px; padding-bottom: 0px; padding-left: 35px; float: left; }
}
.partners_media{ margin-bottom: 20px; margin-right: 16px; }
@media (min-width: 481px){
.partners_media{ padding-top: 7px; float: left; width: 25%; }
}
@media (min-width: 769px){
.partners_media{ float: none; width: 100%; }
}
.partners_text{ font-size: 14px; line-height: 25px; position: relative; }
 .page{ -webkit-transition-property: opacity, initial, initial; -webkit-transition-duration: initial, 1s, initial; -webkit-transition-timing-function: initial, initial, cubic-bezier(0.95, 0.05, 0.795, 0.035); -webkit-transition-delay: initial, initial, initial; }
[data-fade]{ opacity: 0; -webkit-transition-property: -webkit-transform, opacity; -webkit-transition-duration: 2s, 2s; -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1), cubic-bezier(0.19, 1, 0.22, 1); -webkit-transition-delay: initial, initial; }
[data-fade="in"]{ -webkit-transform: translate3d(0px, 0px, 0px); }
[data-fade="up"]{ -webkit-transition-delay: 0.5s; -webkit-transform: translate3d(0px, 80px, 0px); }
[data-fade="left"], [data-fade="right"]{ -webkit-transition-delay: 0.5s; }
[data-fade="left"]{ -webkit-transform: translate3d(-80px, 0px, 0px); }
[data-fade="right"]{ -webkit-transform: translate3d(80px, 0px, 0px); }