/*--
Global Nav
----------------------------------------------*/
.globalNav {
    font-family: 'Gotham SSm A', 'Gotham SSm B', "Helvetica Neue", Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
    padding-top: 70px;
    letter-spacing: 2.5px;
    overflow: auto;

    // mobile styles
    position: fixed;
    z-index: 3;
    background: #000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    @include transform(translate3d(0, -100%, 0));
    @include transition(all 1s cubic-bezier(0.19, 1, 0.22, 1));
    opacity: 0;

    ._nav_open & {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
}

.globalNav_menu {
    @extend %clearfix;
    margin: 0;
    padding: 0;
    height: auto;
    display: table-cell;
    vertical-align: middle;
    @include transform(translate3d(0, -75%, 0));
    @include transition(all 1s cubic-bezier(0.19, 1, 0.22, 1));
    opacity: 0;

    ._nav_open & {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
}

.globalNav_item {
    list-style: none;
    margin: 45px 0;
    padding: 0;
    text-align: center;
    font-size: 23px;
}

.globalNav_link {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;

    &.is-hidden-desktop {
        @include breakpoint(tablet-landscape) {
            display: none;
        }
    }

    &.is-hidden-mobile {
        display: none;

        @include breakpoint(tablet-landscape) {
            display: block;
        }
    }
}

.globalNav_contact {
    list-style: none;
    padding-left: 0;
    position: relative;
    padding-top: 45px;
    padding-bottom: 20px;

    &:before {
        content: "";
        width: 73px;
        height: 4px;
        background-color: white;
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .iconContain {
        max-width: 24px;
    }

    .contacts_item_text {
        color: white;

        p,
        a {
            letter-spacing: normal;
        }

        a {
            color: inherit;
        }
    }
}

@include breakpoint(tablet-landscape) {

    .globalNav_contact {
        display: none;
    }

    .globalNav_toggle {
        display: none;
    }

    .globalNav {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
        margin-top: 65px;
        display: block;
        position: relative;
        background: transparent;
        height: auto;
        width: auto;
        top: auto;
        left: auto;
        float: right;
        padding-top: 0;
    }

    .globalNav_menu {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
        float: right;
    }
    .globalNav_item {
        font-size: 14px;
        margin: 0;
        float: left;
        margin-left: 25px;
    }
}

@include keyframes(nav-open) {
    0% {

    }
    100% {
        @include transform(translate3d(0, 0, 0));
    }
}
